canvas {
    border: 2px solid black;
}


body{
    display: flex;
    justify-content: center;
}

.load {
    background: url('./img/Ghost.gif');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
}


.reward {
    background-color: pink;
}

.rr{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.demonhealth {
    width: 70px;
    height: 5px;
    background-color: red;
    position: absolute;
    left: 1009px;
    top: 420px;
}